<div class="row" ng-controller="AuthController">
	<h3 class="col-md-12 text-center" translate>signin_to_pickup_gamer</h3>

	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="email" translate>email</label>
					<input type="text" id="email" name="email" class="form-control" ng-model="auth.signin.email" >
				</div>
				<div class="form-group">
					<label for="password" translate>password</label>
					<input type="password" id="password" name="password" class="form-control" ng-model="auth.signin.password" >
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary" translate>signin</button>&nbsp; or&nbsp;
					<a href="/#!/signup" translate>signup</a>
				</div>
				<div class "text-center">
					<a href="/#!/forgot" translate>forgot_your_password</a>
				</div>

			</fieldset>
		</form>
	</div>
</div>