<div class="row" ng-controller="AccountController">
	<h3 class="col-md-12 text-center">Reset Your Password</h3>

	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form ng-submit="password()" class=" form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="current_password">Current Password</label>
					<input type="password" id="current_password" name="current_password" class="form-control" ng-model="account.password.current_password" placeholder="Current">
				</div>
				<div class="form-group">
					<label for="new_password">New Password</label>
					<input type="password" id="new_password" name="new_password" class="form-control" ng-model="account.password.new_password" placeholder="New">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary">GO</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>